<Configuration status="WARN" name="MyApp">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>-->
            <PatternLayout pattern="[%date{DEFAULT}][%level][%thread:%tid][%c{3}] %message%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--    Can add specific loggers here to unclutter things-->
        <!--    <Logger name="com.class.name.of.the.logger" level="warn"/>-->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>